*.cpython-38.pyc
/0001_initial.cpython-38.pyc
/0001_initial.cpython-39.pyc
/0002_salesdata_ale_date_time111.cpython-39.pyc
/0003_remove_salesdata_ale_date_time111.cpython-39.pyc
/0004_delete_weekly_salesdata.cpython-39.pyc
/0005_salesdata_weekly_sales.cpython-39.pyc
/0006_remove_salesdata_sku_master.cpython-39.pyc
/0007_remove_salesdata_user.cpython-39.pyc
/0008_rename_updated_on_salesdata_last_updated_date.cpython-39.pyc
/0009_auto_20220114_1929.cpython-39.pyc
/0010_alter_salesdata_local_sales_retail.cpython-39.pyc
/0011_alter_salesdata_local_sales_retail.cpython-39.pyc
/0012_auto_20220114_1939.cpython-39.pyc
/0013_rename_sale_date_time_salesdata_sales_date_time.cpython-39.pyc
/0014_rename_source_salesdata_tranisition_type.cpython-39.pyc
/0015_alter_salesdata_table.cpython-39.pyc
/0016_auto_20220117_1645.cpython-39.pyc
/0017_auto_20220117_1647.cpython-39.pyc
/0018_rename_tranisition_type_salesdata_tranisition_source.cpython-39.pyc
/0019_salesdata_tranisition_type.cpython-39.pyc
/0020_auto_20220117_1701.cpython-39.pyc
/0021_delete_gpiweeklysales.cpython-39.pyc
/0022_auto_20220117_1706.cpython-39.pyc
/0023_alter_sku_master_product_cnf_id.cpython-39.pyc
/0024_alter_salesdata_sales_date_time.cpython-39.pyc
/0025_alter_salesdata_sales_date_time.cpython-39.pyc
/0026_alter_salesdata_sales_date_time.cpython-39.pyc
/0027_alter_salesdata_sales_date_time.cpython-39.pyc
/0028_alter_salesdata_sales_date_time.cpython-39.pyc
/0029_alter_salesdata_sales_date_time.cpython-39.pyc
/0030_auto_20220119_1343.cpython-39.pyc
/0031_remove_sku_remarks_sku_id.cpython-39.pyc
/0032_transition_history.cpython-39.pyc
/0033_transition_history_tranisition_source.cpython-39.pyc
/0034_archived_salesdata.cpython-39.pyc
/0035_archived_salesdata_archived_date.cpython-39.pyc
/0036_transition_log.cpython-39.pyc
/0037_transition_log_tranisition_source.cpython-39.pyc
/0038_auto_20220210_1521.cpython-39.pyc
/0039_rename_tranisition_type_sku_remarks_remarks_type.cpython-39.pyc
/0040_auto_20220215_1728.cpython-39.pyc
/0041_wd_sku_mapping.cpython-39.pyc
/0042_alter_wd_sku_mapping_table.cpython-39.pyc
/0043_auto_20220217_1145.cpython-39.pyc
/0044_transition_log_sale_date_time.cpython-39.pyc
/0045_alter_transition_log_sale_date_time.cpython-39.pyc
/0046_auto_20220218_1307.cpython-39.pyc
/0047_auto_20220218_1421.cpython-39.pyc
/0048_auto_20220221_1808.cpython-39.pyc
/0049_integration_log_summary_status.cpython-39.pyc
/0050_remove_integration_log_summary_status.cpython-39.pyc
/0051_integration_log_summary_email_status.cpython-39.pyc
/0052_integration_log_details_repeat_count.cpython-39.pyc
/0053_candy_jar_gms.cpython-39.pyc
/0054_total_sku_sales.cpython-39.pyc
/0055_rename_other_hawker_total_total_sku_sales_other_m_total.cpython-39.pyc
/0056_repeat_count.cpython-39.pyc
/0057_auto_20220504_1236.cpython-39.pyc
/0058_auto_20220504_1442.cpython-39.pyc
/0059_auto_20220504_1446.cpython-39.pyc
/0060_auto_20220504_1447.cpython-39.pyc
/0061_auto_20220504_1529.cpython-39.pyc
/0062_auto_20220504_1639.cpython-39.pyc
/0063_auto_20220505_1103.cpython-39.pyc
/0064_auto_20220505_1112.cpython-39.pyc
/0065_auto_20220506_1250.cpython-39.pyc
/0066_salesdata_distrcode.cpython-39.pyc
/0067_invalid_log_data.cpython-39.pyc
/0068_auto_20220623_2303.cpython-39.pyc
/0069_auto_20220624_1138.cpython-39.pyc
/0070_sku_master_product_calculated_by.cpython-39.pyc
/0071_auto_20220906_1644.cpython-39.pyc
/0072_temp_total_sku_sales.cpython-39.pyc
/0073_auto_20220909_2227.cpython-39.pyc
/0074_auto_20221202_1155.cpython-39.pyc
/0075_auto_20221202_1214.cpython-39.pyc
/__init__.cpython-39.pyc
*.cpython-39.pyc
