<!DOCTYPE html>
<html>
    <head>
        <title>
            GPI
        </title>
    </head>
    <body>
        <br>

        <h2>Thank you for Connecting....</h2>
        <h3>Your Connection ID:</h3>


        <h3>From: {{sender}}</h3>
        <h3>To(You): {{receiver}}</h3>

        </br>
         
        <h3>
            Subject:{{subject}}
        </h3>
         

        <h2></h2>
        Hi,
            </br>
            <p>
            Your Password reset Code:
            {{message}}<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, architecto.

            </p>
        </br>
        <b>Thank's & Regards,</b><br>
        <b>GPI Secondary Sales.</b><br>
        01234 56789
        
    </body>
</html>